{% load staticfiles %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="page-header header-filter" style="background-image: url({% static 'img/aimurafatygroup.jpg' %});">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 text-center">
                                        <h1 class="title">Aimurafaty Group</h1>
                                        <h4>
                                            Aimurafaty Group is an indigenous privately owned Nigerian group of companies
                                            which is an emerging conglomerate with diverse interests made up of more than
                                            4 companies and affiliated businesses committed to driving the Nigerian economy
                                            forward through industrialization.
                                        </h4>
                                        <br />
                                        <h6>Connect with us</h6>
                                        <div class="buttons">
                                            <a href="https://twitter.com@aimurafaty" target="_blank" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a href="https://facebook.com/aimurafaty" target="_blank" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                            <a href="https://googleplus.com/aimurafaty" target="_blank" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a href="https://instagram.com/aimurafaty" target="_blank" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="page-header header-filter" style="background-image: url({% static 'img/aimurafatynigltd.jpg' %});">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 text-center">
                                        <h1 class="title">AIMURAFATY NIG. LTD</h1>
                                        <h4>
                                            a member of Aimurafaty Group, provides better services in Geosciences, Mineral
                                            Exploration, Geo-physical surveying, Borehole drilling, Installation, Borehole
                                            maintenance and core sample drilling.
                                        </h4>
                                        <br />
                                        <div class="buttons">
                                            <a href="/app/services/" class="btn btn-primary btn-lg">
                                                <i class="fa fa-send"> </i> Learn More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="page-header header-filter" style="background-image: url({% static 'img/almujibnigltd.jpg' %});">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 text-center">
                                        <h1 class="title">ALMUJIB NIG. LTD.</h1>
                                        <h4>
                                            a member of Aimurafaty Group, provides quality services in acquiring of Land,
                                            leasing, renting and building developments.
                                        </h4>
                                        <br />
                                        <div class="buttons">
                                            <a href="/app/services/" class="btn btn-primary btn-lg">
                                                <i class="fa fa-send"> </i> Learn More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="page-header header-filter" style="background-image: url({% static 'img/mondahfarm.jpg' %});">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 text-center">
                                        <h1 class="title">MONDAH FARMS LTD.</h1>
                                        <h4>
                                            a member of Aimurafaty Group that provides all forms of Agricultural Farming
                                            products such as Animal feeds, poultry equipment, eggs, Cattle for beef &
                                            fattening and Agro-Processing.
                                        </h4>
                                        <br />
                                        <div class="buttons">
                                            <a href="/app/services/" class="btn btn-primary btn-lg">
                                                <i class="fa fa-send"> </i> Learn More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="page-header header-filter" style="background-image: url({% static 'img/aimurafatyenergy.jpg' %});">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 text-center">
                                        <h1 class="title">Aimurafaty Energy</h1>
                                        <h4>
                                            We as a business cooperate body in the energy sector offers a profitable opportunity
                                            by creating a long-time links between buyers and seller in the crude oil market.
                                        </h4>
                                        <br />
                                        <div class="buttons">
                                            <a href="/app/services/" class="btn btn-primary btn-lg">
                                                <i class="fa fa-send"> </i> Learn More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="page-header header-filter" style="background-image: url({% static 'img/aimurafaty_wastemanagement.jpg' %});">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 text-center">
                                        <h1 class="title">Aimurafaty Environmental Services</h1>
                                        <h4>
                                            We carry out all forms of Environmental Impact Assessment for mining, borehole,
                                            waste management and Oil and Gas. We also provide our clients with various types
                                            of waste collector disposal for a friendly environmental suitability.
                                        </h4>
                                        <br />
                                        <div class="buttons">
                                            <a href="/app/contact/" class="btn btn-success btn-lg">
                                                <i class="fa fa-share-alt"> </i> Contact Us
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>