{% load staticfiles %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="page-header header-filter" style="background-image: url({% static 'img/bg1.jpg' %});">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 text-center">
                                        <h1 class="title">Aimurafaty Group</h1>
                                        <h4>It is a Group of Geosciences, Environmental, Engineering And Business Development Service Companies. They render brillint services to their esteem customers and at affordable prices</h4>
                                        <br />
                                        <div class="buttons">
                                            <a href="/app/about/" class="btn btn-primary btn-lg">
                                                <i class="fa fa-send"> </i> Learn More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="page-header header-filter" style="background-image: url({% static 'img/bg2.jpg' %});">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 text-center">
                                        <h1 class="title">Aimurafaty Companies</h1>
                                        <h4>It is a Group of Geosciences, Environmental, Engineering And Business Development Service Companies. They render brillint services to their esteem customers and at affordable prices</h4>
                                        <br />
                                        <h6>Connect with us</h6>
                                        <div class="buttons">
                                            <a href="https://twitter.com@aimurafaty" target="_blank" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a href="https://facebook.com/aimurafaty" target="_blank" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                            <a href="https://googleplus.com/aimurafaty" target="_blank" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a href="https://instagram.com/aimurafaty" target="_blank" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="page-header header-filter" style="background-image: url({% static 'img/bg3.jpg' %});">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 text-center">
                                        <h1 class="title">Inspiring Services</h1>
                                        <h4>It is a Group of Geosciences, Environmental, Engineering And Business Development Service Companies. They render brillint services to their esteem customers and at affordable prices</h4>
                                        <br />
                                        <div class="buttons">
                                            <a href="/app/contact/" class="btn btn-success btn-lg">
                                                <i class="fa fa-share-alt"> </i> Contact Us
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>